---
import type { CollectionEntry } from "astro:content";

interface Props {
    entry: CollectionEntry<"intro">;
    showContent?: boolean;
}

const { entry, showContent = true } = Astro.props;
const { data } = entry;
const { Content } = await entry.render();
---

<style>
    .intro_card {
        padding-bottom: calc(var(--space) * 10);
    }
    .button {
        color: var(--white);
        border-color: var(--white);
    }
    .intro_cta {
        margin-top: calc(var(--space) * 2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro_titles {
        text-align: center;
    }
</style>

<article class="intro_card">
    <div class="intro_header">
        {
            data.image && (
                <div class="intro_image">
                    <img src={`${data.image}`} alt={data.title} />
                </div>
            )
        }

        <div class="intro_titles">
            <h2 class="intro_title">{data.title}</h2>
            {data.subtile && <h3 class="intro_subtitle">{data.subtile}</h3>}
            {
                data.subsubtile && (
                    <h4 class="intro_subsubtitle">{data.subsubtile}</h4>
                )
            }
        </div>
    </div>

    {
        showContent && (
            <div class="intro_content">
                <Content />
            </div>
        )
    }

    {
        data.cta && data.link && (
            <div class="intro_cta ">
                <a href={data.link} class="cta_button button">
                    {data.cta}
                </a>
            </div>
        )
    }
</article>
