---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    entry: CollectionEntry<"intro">;
    showContent?: boolean;
}

const { entry, showContent = true } = Astro.props;
const { data } = entry;
const { Content } = await render(entry);
---

<style>
    .intro_card {
        padding-block: calc(var(--space) * 3);
    }
    .button {
        color: var(--white);
        border-color: var(--white);
    }
    .intro_image {
    }
    .intro_cta {
        padding-top: calc(var(--space) * 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro_titles {
        padding-inline: calc(var(--space_) * 2.5);
        h2 {
            color: var(--brand_light);
        }
    }

    .intro_content {
        font-size: var(--font_rem);
        padding-top: calc(var(--space) * 1);
        /*padding-inline: calc(var(--space_) * 0.25);*/
        padding-inline: calc(var(--space_) * 2.5);
        text-justify: distribute;
    }
</style>

<article class="intro_card">
    {
        data.image && (
            <div class="intro_image">
                <Image src={data.image.src} alt={data.image.alt} />
            </div>
        )
    }
    <div class="intro_header">
        <div class="intro_titles">
            <h2 class="intro_title">{data.title}</h2>
            {data.subtile && <h3 class="intro_subtitle">{data.subtile}</h3>}
            {
                data.subsubtile && (
                    <h4 class="intro_subsubtitle">{data.subsubtile}</h4>
                )
            }
        </div>
    </div>

    {
        showContent && (
            <div class="intro_content">
                <Content />
            </div>
        )
    }

    {
        data.cta && data.link && (
            <div class="intro_cta ">
                <a href={data.link} class="cta_button button">
                    {data.cta}
                </a>
            </div>
        )
    }
</article>
